@inherits LayoutComponentBase

<div class="d-flex">
    <div class="sidebar d-flex flex-column flex-shrink-0 p-0 bg-light border-end position-fixed vh-100" style="width: 4.5rem;">
        <NavMenu />
    </div>
    <main class="flex-grow-1" style="margin-left: 4.5rem;">
        <article class="content p-4">
            @Body
        </article>
    </main>
</div>
