<nav class="nav nav-pills flex-column text-center">
    <NavLink class="nav-link py-3 border-bottom" href="devices" title="Devices">
        <i class="bi bi-hdd-network"></i>
    </NavLink>
    <NavLink class="nav-link py-3 border-bottom" href="inventory" title="Inventory">
        <i class="bi bi-box-seam"></i>
    </NavLink>
    <NavLink class="nav-link py-3 border-bottom" href="commission" title="Commission">
        <i class="bi bi-gear"></i>
    </NavLink>
    <NavLink class="nav-link py-3 border-bottom" href="sessions" title="Sessions">
        <i class="bi bi-clock-history"></i>
    </NavLink>
    <NavLink class="nav-link py-3 border-bottom" href="admin" title="Admin">
        <i class="bi bi-person-gear"></i>
    </NavLink>
</nav>
